*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
/* .main{
    background-color: grey;
} */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #212529;
    color: white;
    padding: 5vh 6vw;
    margin-bottom: 5vh;
}
.navbar h2{
    font-size: 2rem;
}
.cart{
    position: relative;
    /* display: flex; */
    background-color: white;
    color: #212529;
    padding: 5px;
    border-radius: 3px;
}
.cartAmount{
    position: absolute;
    top:-15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;
    font-size: 1rem;
    background:red;
    color: white;

}
.cart i{
    font-size: 2rem;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four equal-width columns */
    grid-gap: 2rem; /* Add some spacing between grid items */
    width: 900px; /* Adjust the maximum width of the grid */
    margin: 0 auto; /* Center the grid horizontally */
    justify-content: center;
}

/* Style each individual image item */
.image-item {
    border: 2px solid #4d4b4b; /* Add a border to each image item */
    border-radius: 3px;
    /*padding: 10px; Add some padding to create space around images*/
    text-align: center; /* Center the image and text */
    
}

/* Style the images within each item */
.image-item img {
    max-width: 100%; /*Ensure images don't exceed the width of their container*/
    height: auto; 
    object-fit: cover;
}
.cloth-information{
    text-align: initial;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 10px;
    gap: 10px;
}
.more-information{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    font-size: 1.3rem;
}
.ri-arrow-down-circle-fill{
    color: red;
}
.ri-arrow-up-circle-fill{
    color: green;
}

@media (max-width:600px) {
    .navbar{
        /* width: 100%; */
        padding: 5vh 6vw;
        margin-bottom: 5vh;
    }
}

@media (max-width:1000px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Switch to a two-column layout */
        grid-gap: 1.5rem; /* Add some spacing between grid items */
        max-width: 500px;
        padding: 10px 15px;
    }
}
@media (max-width:500px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr); /* Switch to a two-column layout */
        grid-gap: 1.5rem; /* Add some spacing between grid items */
        max-width: 250px;
        padding: 7px 10px;
    }
}